* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body {
    background: url(img/nueva.jpg) no-repeat center center/cover;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;
}

.contenido-centrado {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}
p.contenido-centrado{
    font-weight: bold
}

/*Contenedor*/

.contenedor {
    width: 100%;
    max-width: 350px;
    background-color:rgba(255, 255, 255, 0.13);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 30px;
}

.contenedor-interno {
    width: 80%;
}

/*Contenido*/

#titulo {
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-family: 'courgette',cursive;
}

#cita {
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

#autor {
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'courgette',cursive;
}

#boton-cambiar-cita {
    width: 150px;
    height: 40px;
    font-size: 15px;
    margin: 5px;
    border-radius: 15px;
}

.btn-primary:hover {
    background-color: rgb(43, 43, 170);
    border: 2px solid #08e008;
   
}

/* Cronometro */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    text-align: center;
}

.contenedor-principal {
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



/* Cronometro */

#cronometro {
    width: 100%;
    font-size: 60px;
    font-weight: bold;
    user-select: none;
    font-family: 'Noto Sans Thai', sans-serif;
    color: rgb(255, 255, 255);
}


/* Botones */

.boton {
    width: 60px;
    height: 60px;
    font-size: 40px;
    margin: 5px;
    border-radius: 10px;
}

#boton-inicio-pausa.iniciar,
#boton-inicio-pausa.iniciar i {
    background-color: #08e008;
    
}

#boton-inicio-pausa.pausar,
#boton-inicio-pausa.pausar i {
    background-color: #ffdc00;
}

#boton-reiniciar {
    background-color: red;
}


@media screen and (max-width:400px){
    .contenedor {
        width: 80%;
    }
    #cita {
        font-size: 20px;
    }
}